:root {
  --primary-color: rgb(78, 102, 79);
  --accent-color: rgb(55, 80, 163);
  --accent-color-lighter: rgb(68, 89, 195);
  --font-color-primary: rgb(205, 205, 205);
  --font-color-secondary: rgb(190, 190, 190);
}

body, p, h1 {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: var(--font-color-primary);
  background-color: var(--primary-color);
}

p {
  color: var(--font-color-secondary);
}

.add-to-server {
  font-size: 24px;
  font-weight: 500;
  border: none;
  border-radius: 16px;
  background-color: var(--accent-color);
  color: rgb(205, 205, 205);
  padding: .65em 1.15em;
  transition: background-color 200ms;
  cursor: pointer;
}

.add-to-server:hover {
  background-color: var(--accent-color-lighter);
}
